<launch>
   <arg name="config" default="$(find sas_space_explore)/cfg/params.yaml" />
   <env name="ROSCONSOLE_CONFIG_FILE"
          value="$(find sas_space_explore)/cfg/custom_rosconsole.conf"/>
   <node pkg="sas_space_explore" type="sas_space_explore_node" name="sas_space_explore_node" output="screen">
     <rosparam command="load" file="$(arg config)"/>
     <param name="angle_size" value="32" />
     <param name="scene" value="6" />
     <param name="heading_size" value="32" />
     <param name="allow_use_last_path" value="false" />
     <param name="s_x" value="15" />
     <param name="s_y" value="70" />
     <param name="s_z" value="-86" />
     <param name="g_x" value="108.3" />
     <param name="g_y" value="32.9" />
     <param name="g_z" value="1.559" />
     <param name="max_iterations" value="30000" />
     <param name="use_wavefront_heuristic" value="true" />
     <param name="use_euclidean_heuristic" value="false" />
     <param name="use_both_heuristic" value="true" />
     <param name="allow_use_dubinshot" value="true" />
     <param name="goal_radius" value="1" />
     <param name="goal_angle" value="10" />

   </node>



   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sas_space_explore)/rviz/sas_explore_node_viz.rviz"/>
   <node pkg="rqt_reconfigure"  type="rqt_reconfigure" name="reconfigure_gui"/>
   <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam" args="load /get_plan_server_node $(find sas_space_explore)/cfg/dyna_params.yaml"/>

</launch>
